:root {
  --card-bg: rgba(255, 255, 255, 0.8);
  --mark-bg: alpha($dark-black, 0)
}

[data-theme="dark"] {
  --card-bg: rgba(255, 255, 255, 0.2);
}

#page-header {
  background-color: rgba(255, 255, 255, 0.1);
}